@use '../components/breakpoints' as *;

.about-content-container {
  display: flex;
  // padding-top: 1rem;
  flex-direction: column;

  @include lg {
    flex-direction: row;
    padding-top: 1rem;

    .left-about {
      order: 2;
    }

    .right-about {
      order: 1;
    }
  }

  .right-about {
    flex: 1;
    font-family: 'Roboto', sans-serif;

    .about-text p {
      line-height: 1.5;
      letter-spacing: 0.2px;
      // word-spacing: 2px;
    }

    .about-text p:first-child::first-letter,
    .about-text p:nth-of-type(2)::first-letter,
    .about-text p:nth-of-type(3)::first-letter,
    .about-text p:nth-of-type(4)::first-letter {
      color: #fff;
      font-weight: bold;
      font-size: 48px;
      float: left;
      line-height: 30px;
      padding-right: 5px;
      margin-top: 12px;
    }
  }

  .left-about {
    flex: 1;

    .about-image {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 2rem;

      // @include lg {
      //   padding-bottom: 0;
      // }

      @include lg {
        padding-bottom: 0;
        // align-items: flex-start;
        // justify-content: flex-start;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 300px;

        @include md {
          width: 400px;
        }

        @include lg {
          width: 350px;
          object-fit: cover;
        }

        @include xl {
          width: 500px;
        }
      }
    }
  }
}
