@use '../components/mixins' as *;
@use '../components/controls' as *;
@use '../components/breakpoints' as *;

.hero-wrapper {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  position: relative;
  height: 100vh;
  width: 100%;

  &,
  * {
    cursor: none;
  }

  .cursor {
    position: fixed;
    background: var(--color-primary);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: -5px 0 0 -5px;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    z-index: 99;
  }

  .shapes {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: var(--color-primary);
    overflow: hidden;

    .shape {
      will-change: transform;
      position: absolute;
      border-radius: 50%;

      $shapes: (
        #005ffe: 650px,
        #e28446: 440px,
        #1c7cac: 270px,
      );

      @each $color, $size in $shapes {
        &.shape-#{index($shapes, ($color $size))} {
          background: $color;
          width: $size;
          height: $size;
          margin: calc(-#{$size}/ 2) 0 0 calc(-#{$size} / 2);
        }
      }
    }
  }
  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #fff;
    mix-blend-mode: screen;

    .home-text {
      margin: 2rem 1rem 0 1rem;

      @include sm {
        margin: 0 1rem;
        @include v-align;
      }
    }

    .landing-heading {
      font-size: 4.5rem;
      font-weight: 900;
      color: #000;

      // @include breakpoint(390px) {
      //   font-size: 5.6rem;
      // }

      @include sm {
        font-size: 6rem;
      }

      @include md {
        font-size: 7rem;
      }

      // @include lg {
      //   font-size: 7rem;
      // }

      @include lg {
        font-size: 8rem;
        padding-right: 6rem;
      }
    }

    .landing-subheading {
      font-size: 1.5rem;
      font-weight: 900;
      color: #000;

      @include md {
        font-size: 2rem;
      }
    }

    code {
      font-size: 1.25rem;
      font-weight: 900;
      color: #000;
    }
  }
}
