#languages {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .languages-container {
    display: flex;
    flex-wrap: wrap;

    ul {
      display: flex;
      flex-wrap: wrap;

      /* just to make it look cleaner */
      list-style-type: none;
      justify-content: center;
    }

    li {
      text-align: center;
      padding: 1.25rem;
      font-family: 'Montseratt', sans-serif;
    }
  }
}
