.controls {
  position: fixed;
  z-index: 10;
  top: auto !important;
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: 50%;
  justify-content: center;
  transform: translateX(-50%);
  width: 100%;
  background-color: var(--color-primary);
}
.controls .control {
  margin: 1rem 0.7rem !important;
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
}
@media (min-width: 992px) {
  .controls {
    position: fixed;
    width: unset;
    top: 50% !important;
    left: auto !important;
    right: 3% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: transparent;
  }
  .controls .control {
    margin: 0.7rem 0 !important;
  }
  .controls .active-btn {
    background-color: var(--color-secondary) !important;
  }
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}
@media (min-width: 0) {
  .controls .control {
    margin: 1rem 0.3rem;
  }
}
.controls .control i {
  font-size: 1.2rem;
  pointer-events: none;
}

.hero-wrapper {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  position: relative;
  height: 100vh;
  width: 100%;
}
.hero-wrapper,
.hero-wrapper * {
  cursor: none;
}
.hero-wrapper .cursor {
  position: fixed;
  background: var(--color-primary);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: -5px 0 0 -5px;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 99;
}
.hero-wrapper .shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--color-primary);
  overflow: hidden;
}
.hero-wrapper .shapes .shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}
.hero-wrapper .shapes .shape.shape-1 {
  background: #005ffe;
  width: 650px;
  height: 650px;
  margin: calc(-650px/ 2) 0 0 calc(-650px / 2);
}
.hero-wrapper .shapes .shape.shape-2 {
  background: #e28446;
  width: 440px;
  height: 440px;
  margin: calc(-440px/ 2) 0 0 calc(-440px / 2);
}
.hero-wrapper .shapes .shape.shape-3 {
  background: #1c7cac;
  width: 270px;
  height: 270px;
  margin: calc(-270px/ 2) 0 0 calc(-270px / 2);
}
.hero-wrapper .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #fff;
  mix-blend-mode: screen;
}
.hero-wrapper .hero-content .home-text {
  margin: 0 0 0 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); /* IE */
  -moz-transform: translateY(-50%); /* Firefox */
  -webkit-transform: translateY(-50%); /* Safari and Chrome */
  -o-transform: translateY(-50%);
}
.hero-wrapper .hero-content .landing-heading {
  font-size: 4rem;
  font-weight: 900;
  color: #000;
}
@media (min-width: 390px) {
  .hero-wrapper .hero-content .landing-heading {
    font-size: 5rem;
  }
}
@media (min-width: 576px) {
  .hero-wrapper .hero-content .landing-heading {
    font-size: 6rem;
  }
}
@media (min-width: 992px) {
  .hero-wrapper .hero-content .landing-heading {
    font-size: 7rem;
  }
}
@media (min-width: 992px) {
  .hero-wrapper .hero-content .landing-heading {
    font-size: 8rem;
    padding-right: 6rem;
  }
}
.hero-wrapper .hero-content .landing-subheading {
  font-size: 2rem;
  font-weight: 900;
  color: #000;
}
.hero-wrapper .hero-content code {
  font-size: 1.25rem;
  font-weight: 900;
  color: #000;
}

.section-heading {
  text-align: center;
}
.section-heading h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4rem;
  padding-bottom: 1.25rem;
}

.sub-heading {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 0) {
  .sub-heading {
    font-size: 1.5rem;
    padding: 2rem 1.25rem 1.25rem 1.25rem;
  }
}
@media (min-width: 768px) {
  .sub-heading {
    font-size: 2rem;
    padding: 3rem 1.25rem 1.25rem 1.25rem;
  }
}

.footer {
  margin-top: auto;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .footer {
    margin-bottom: 0;
  }
}
.footer .links {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}
.footer .links .link {
  margin: 0 1rem;
}
.footer .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-grey-4);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}
.footer .links a:hover {
  background-color: var(--color-secondary);
}
.footer .links a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.footer .copyright {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  font-family: "Montseratt", sans-serif;
  font-size: 10px;
}

#languages,
#databases,
#frameworks,
#version-control,
#design,
#other-tools,
#current {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#languages .languages-container,
#languages .frameworks-container,
#languages .databases-container,
#languages .version-control-container,
#languages .design-container,
#languages .other-tools-container,
#languages .currently-learning-container,
#databases .languages-container,
#databases .frameworks-container,
#databases .databases-container,
#databases .version-control-container,
#databases .design-container,
#databases .other-tools-container,
#databases .currently-learning-container,
#frameworks .languages-container,
#frameworks .frameworks-container,
#frameworks .databases-container,
#frameworks .version-control-container,
#frameworks .design-container,
#frameworks .other-tools-container,
#frameworks .currently-learning-container,
#version-control .languages-container,
#version-control .frameworks-container,
#version-control .databases-container,
#version-control .version-control-container,
#version-control .design-container,
#version-control .other-tools-container,
#version-control .currently-learning-container,
#design .languages-container,
#design .frameworks-container,
#design .databases-container,
#design .version-control-container,
#design .design-container,
#design .other-tools-container,
#design .currently-learning-container,
#other-tools .languages-container,
#other-tools .frameworks-container,
#other-tools .databases-container,
#other-tools .version-control-container,
#other-tools .design-container,
#other-tools .other-tools-container,
#other-tools .currently-learning-container,
#current .languages-container,
#current .frameworks-container,
#current .databases-container,
#current .version-control-container,
#current .design-container,
#current .other-tools-container,
#current .currently-learning-container {
  display: flex;
  flex-wrap: wrap;
}
#languages .languages-container ul,
#languages .frameworks-container ul,
#languages .databases-container ul,
#languages .version-control-container ul,
#languages .design-container ul,
#languages .other-tools-container ul,
#languages .currently-learning-container ul,
#databases .languages-container ul,
#databases .frameworks-container ul,
#databases .databases-container ul,
#databases .version-control-container ul,
#databases .design-container ul,
#databases .other-tools-container ul,
#databases .currently-learning-container ul,
#frameworks .languages-container ul,
#frameworks .frameworks-container ul,
#frameworks .databases-container ul,
#frameworks .version-control-container ul,
#frameworks .design-container ul,
#frameworks .other-tools-container ul,
#frameworks .currently-learning-container ul,
#version-control .languages-container ul,
#version-control .frameworks-container ul,
#version-control .databases-container ul,
#version-control .version-control-container ul,
#version-control .design-container ul,
#version-control .other-tools-container ul,
#version-control .currently-learning-container ul,
#design .languages-container ul,
#design .frameworks-container ul,
#design .databases-container ul,
#design .version-control-container ul,
#design .design-container ul,
#design .other-tools-container ul,
#design .currently-learning-container ul,
#other-tools .languages-container ul,
#other-tools .frameworks-container ul,
#other-tools .databases-container ul,
#other-tools .version-control-container ul,
#other-tools .design-container ul,
#other-tools .other-tools-container ul,
#other-tools .currently-learning-container ul,
#current .languages-container ul,
#current .frameworks-container ul,
#current .databases-container ul,
#current .version-control-container ul,
#current .design-container ul,
#current .other-tools-container ul,
#current .currently-learning-container ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}
#languages .languages-container li,
#languages .frameworks-container li,
#languages .databases-container li,
#languages .version-control-container li,
#languages .design-container li,
#languages .other-tools-container li,
#languages .currently-learning-container li,
#databases .languages-container li,
#databases .frameworks-container li,
#databases .databases-container li,
#databases .version-control-container li,
#databases .design-container li,
#databases .other-tools-container li,
#databases .currently-learning-container li,
#frameworks .languages-container li,
#frameworks .frameworks-container li,
#frameworks .databases-container li,
#frameworks .version-control-container li,
#frameworks .design-container li,
#frameworks .other-tools-container li,
#frameworks .currently-learning-container li,
#version-control .languages-container li,
#version-control .frameworks-container li,
#version-control .databases-container li,
#version-control .version-control-container li,
#version-control .design-container li,
#version-control .other-tools-container li,
#version-control .currently-learning-container li,
#design .languages-container li,
#design .frameworks-container li,
#design .databases-container li,
#design .version-control-container li,
#design .design-container li,
#design .other-tools-container li,
#design .currently-learning-container li,
#other-tools .languages-container li,
#other-tools .frameworks-container li,
#other-tools .databases-container li,
#other-tools .version-control-container li,
#other-tools .design-container li,
#other-tools .other-tools-container li,
#other-tools .currently-learning-container li,
#current .languages-container li,
#current .frameworks-container li,
#current .databases-container li,
#current .version-control-container li,
#current .design-container li,
#current .other-tools-container li,
#current .currently-learning-container li {
  text-align: center;
  font-family: "Montseratt", sans-serif;
}
@media (min-width: 0) {
  #languages .languages-container li,
#languages .frameworks-container li,
#languages .databases-container li,
#languages .version-control-container li,
#languages .design-container li,
#languages .other-tools-container li,
#languages .currently-learning-container li,
#databases .languages-container li,
#databases .frameworks-container li,
#databases .databases-container li,
#databases .version-control-container li,
#databases .design-container li,
#databases .other-tools-container li,
#databases .currently-learning-container li,
#frameworks .languages-container li,
#frameworks .frameworks-container li,
#frameworks .databases-container li,
#frameworks .version-control-container li,
#frameworks .design-container li,
#frameworks .other-tools-container li,
#frameworks .currently-learning-container li,
#version-control .languages-container li,
#version-control .frameworks-container li,
#version-control .databases-container li,
#version-control .version-control-container li,
#version-control .design-container li,
#version-control .other-tools-container li,
#version-control .currently-learning-container li,
#design .languages-container li,
#design .frameworks-container li,
#design .databases-container li,
#design .version-control-container li,
#design .design-container li,
#design .other-tools-container li,
#design .currently-learning-container li,
#other-tools .languages-container li,
#other-tools .frameworks-container li,
#other-tools .databases-container li,
#other-tools .version-control-container li,
#other-tools .design-container li,
#other-tools .other-tools-container li,
#other-tools .currently-learning-container li,
#current .languages-container li,
#current .frameworks-container li,
#current .databases-container li,
#current .version-control-container li,
#current .design-container li,
#current .other-tools-container li,
#current .currently-learning-container li {
    margin: 0.5rem;
    height: 4.375rem;
    width: 4.375rem;
    font-size: 0.75rem;
  }
}
@media (min-width: 0) and (min-width: 768px) {
  #languages .languages-container li,
#languages .frameworks-container li,
#languages .databases-container li,
#languages .version-control-container li,
#languages .design-container li,
#languages .other-tools-container li,
#languages .currently-learning-container li,
#databases .languages-container li,
#databases .frameworks-container li,
#databases .databases-container li,
#databases .version-control-container li,
#databases .design-container li,
#databases .other-tools-container li,
#databases .currently-learning-container li,
#frameworks .languages-container li,
#frameworks .frameworks-container li,
#frameworks .databases-container li,
#frameworks .version-control-container li,
#frameworks .design-container li,
#frameworks .other-tools-container li,
#frameworks .currently-learning-container li,
#version-control .languages-container li,
#version-control .frameworks-container li,
#version-control .databases-container li,
#version-control .version-control-container li,
#version-control .design-container li,
#version-control .other-tools-container li,
#version-control .currently-learning-container li,
#design .languages-container li,
#design .frameworks-container li,
#design .databases-container li,
#design .version-control-container li,
#design .design-container li,
#design .other-tools-container li,
#design .currently-learning-container li,
#other-tools .languages-container li,
#other-tools .frameworks-container li,
#other-tools .databases-container li,
#other-tools .version-control-container li,
#other-tools .design-container li,
#other-tools .other-tools-container li,
#other-tools .currently-learning-container li,
#current .languages-container li,
#current .frameworks-container li,
#current .databases-container li,
#current .version-control-container li,
#current .design-container li,
#current .other-tools-container li,
#current .currently-learning-container li {
    margin: 0.75rem;
    height: 7.5rem;
    width: 7.5rem;
    font-size: 1.25rem;
  }
}
@media (min-width: 0) and (min-width: 992px) {
  #languages .languages-container li,
#languages .frameworks-container li,
#languages .databases-container li,
#languages .version-control-container li,
#languages .design-container li,
#languages .other-tools-container li,
#languages .currently-learning-container li,
#databases .languages-container li,
#databases .frameworks-container li,
#databases .databases-container li,
#databases .version-control-container li,
#databases .design-container li,
#databases .other-tools-container li,
#databases .currently-learning-container li,
#frameworks .languages-container li,
#frameworks .frameworks-container li,
#frameworks .databases-container li,
#frameworks .version-control-container li,
#frameworks .design-container li,
#frameworks .other-tools-container li,
#frameworks .currently-learning-container li,
#version-control .languages-container li,
#version-control .frameworks-container li,
#version-control .databases-container li,
#version-control .version-control-container li,
#version-control .design-container li,
#version-control .other-tools-container li,
#version-control .currently-learning-container li,
#design .languages-container li,
#design .frameworks-container li,
#design .databases-container li,
#design .version-control-container li,
#design .design-container li,
#design .other-tools-container li,
#design .currently-learning-container li,
#other-tools .languages-container li,
#other-tools .frameworks-container li,
#other-tools .databases-container li,
#other-tools .version-control-container li,
#other-tools .design-container li,
#other-tools .other-tools-container li,
#other-tools .currently-learning-container li,
#current .languages-container li,
#current .frameworks-container li,
#current .databases-container li,
#current .version-control-container li,
#current .design-container li,
#current .other-tools-container li,
#current .currently-learning-container li {
    margin: 1.5rem;
    height: 9.375rem;
    width: 9.375rem;
  }
}
@media (min-width: 0) {
  #languages .languages-container li img,
#languages .frameworks-container li img,
#languages .databases-container li img,
#languages .version-control-container li img,
#languages .design-container li img,
#languages .other-tools-container li img,
#languages .currently-learning-container li img,
#databases .languages-container li img,
#databases .frameworks-container li img,
#databases .databases-container li img,
#databases .version-control-container li img,
#databases .design-container li img,
#databases .other-tools-container li img,
#databases .currently-learning-container li img,
#frameworks .languages-container li img,
#frameworks .frameworks-container li img,
#frameworks .databases-container li img,
#frameworks .version-control-container li img,
#frameworks .design-container li img,
#frameworks .other-tools-container li img,
#frameworks .currently-learning-container li img,
#version-control .languages-container li img,
#version-control .frameworks-container li img,
#version-control .databases-container li img,
#version-control .version-control-container li img,
#version-control .design-container li img,
#version-control .other-tools-container li img,
#version-control .currently-learning-container li img,
#design .languages-container li img,
#design .frameworks-container li img,
#design .databases-container li img,
#design .version-control-container li img,
#design .design-container li img,
#design .other-tools-container li img,
#design .currently-learning-container li img,
#other-tools .languages-container li img,
#other-tools .frameworks-container li img,
#other-tools .databases-container li img,
#other-tools .version-control-container li img,
#other-tools .design-container li img,
#other-tools .other-tools-container li img,
#other-tools .currently-learning-container li img,
#current .languages-container li img,
#current .frameworks-container li img,
#current .databases-container li img,
#current .version-control-container li img,
#current .design-container li img,
#current .other-tools-container li img,
#current .currently-learning-container li img {
    height: 3.125rem;
  }
}
@media (min-width: 768px) {
  #languages .languages-container li img,
#languages .frameworks-container li img,
#languages .databases-container li img,
#languages .version-control-container li img,
#languages .design-container li img,
#languages .other-tools-container li img,
#languages .currently-learning-container li img,
#databases .languages-container li img,
#databases .frameworks-container li img,
#databases .databases-container li img,
#databases .version-control-container li img,
#databases .design-container li img,
#databases .other-tools-container li img,
#databases .currently-learning-container li img,
#frameworks .languages-container li img,
#frameworks .frameworks-container li img,
#frameworks .databases-container li img,
#frameworks .version-control-container li img,
#frameworks .design-container li img,
#frameworks .other-tools-container li img,
#frameworks .currently-learning-container li img,
#version-control .languages-container li img,
#version-control .frameworks-container li img,
#version-control .databases-container li img,
#version-control .version-control-container li img,
#version-control .design-container li img,
#version-control .other-tools-container li img,
#version-control .currently-learning-container li img,
#design .languages-container li img,
#design .frameworks-container li img,
#design .databases-container li img,
#design .version-control-container li img,
#design .design-container li img,
#design .other-tools-container li img,
#design .currently-learning-container li img,
#other-tools .languages-container li img,
#other-tools .frameworks-container li img,
#other-tools .databases-container li img,
#other-tools .version-control-container li img,
#other-tools .design-container li img,
#other-tools .other-tools-container li img,
#other-tools .currently-learning-container li img,
#current .languages-container li img,
#current .frameworks-container li img,
#current .databases-container li img,
#current .version-control-container li img,
#current .design-container li img,
#current .other-tools-container li img,
#current .currently-learning-container li img {
    height: 4.6875rem;
  }
}
@media (min-width: 992px) {
  #languages .languages-container li img,
#languages .frameworks-container li img,
#languages .databases-container li img,
#languages .version-control-container li img,
#languages .design-container li img,
#languages .other-tools-container li img,
#languages .currently-learning-container li img,
#databases .languages-container li img,
#databases .frameworks-container li img,
#databases .databases-container li img,
#databases .version-control-container li img,
#databases .design-container li img,
#databases .other-tools-container li img,
#databases .currently-learning-container li img,
#frameworks .languages-container li img,
#frameworks .frameworks-container li img,
#frameworks .databases-container li img,
#frameworks .version-control-container li img,
#frameworks .design-container li img,
#frameworks .other-tools-container li img,
#frameworks .currently-learning-container li img,
#version-control .languages-container li img,
#version-control .frameworks-container li img,
#version-control .databases-container li img,
#version-control .version-control-container li img,
#version-control .design-container li img,
#version-control .other-tools-container li img,
#version-control .currently-learning-container li img,
#design .languages-container li img,
#design .frameworks-container li img,
#design .databases-container li img,
#design .version-control-container li img,
#design .design-container li img,
#design .other-tools-container li img,
#design .currently-learning-container li img,
#other-tools .languages-container li img,
#other-tools .frameworks-container li img,
#other-tools .databases-container li img,
#other-tools .version-control-container li img,
#other-tools .design-container li img,
#other-tools .other-tools-container li img,
#other-tools .currently-learning-container li img,
#current .languages-container li img,
#current .frameworks-container li img,
#current .databases-container li img,
#current .version-control-container li img,
#current .design-container li img,
#current .other-tools-container li img,
#current .currently-learning-container li img {
    height: 7.5rem;
  }
}
@media (min-width: 0) {
  #languages .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"] {
    width: 4.0625rem;
  }
}
@media (min-width: 768px) {
  #languages .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"] {
    width: 6.25rem;
  }
}
@media (min-width: 992px) {
  #languages .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#languages .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#databases .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#frameworks .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#version-control .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#design .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#other-tools .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .languages-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .frameworks-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .databases-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .version-control-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .design-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .other-tools-container li img[src="./assets/img/frameworks/Materialize.svg"],
#current .currently-learning-container li img[src="./assets/img/frameworks/Materialize.svg"] {
    width: 8.75rem;
  }
}
@media (min-width: 768px) {
  #languages .languages-container li h3,
#languages .frameworks-container li h3,
#languages .databases-container li h3,
#languages .version-control-container li h3,
#languages .design-container li h3,
#languages .other-tools-container li h3,
#languages .currently-learning-container li h3,
#databases .languages-container li h3,
#databases .frameworks-container li h3,
#databases .databases-container li h3,
#databases .version-control-container li h3,
#databases .design-container li h3,
#databases .other-tools-container li h3,
#databases .currently-learning-container li h3,
#frameworks .languages-container li h3,
#frameworks .frameworks-container li h3,
#frameworks .databases-container li h3,
#frameworks .version-control-container li h3,
#frameworks .design-container li h3,
#frameworks .other-tools-container li h3,
#frameworks .currently-learning-container li h3,
#version-control .languages-container li h3,
#version-control .frameworks-container li h3,
#version-control .databases-container li h3,
#version-control .version-control-container li h3,
#version-control .design-container li h3,
#version-control .other-tools-container li h3,
#version-control .currently-learning-container li h3,
#design .languages-container li h3,
#design .frameworks-container li h3,
#design .databases-container li h3,
#design .version-control-container li h3,
#design .design-container li h3,
#design .other-tools-container li h3,
#design .currently-learning-container li h3,
#other-tools .languages-container li h3,
#other-tools .frameworks-container li h3,
#other-tools .databases-container li h3,
#other-tools .version-control-container li h3,
#other-tools .design-container li h3,
#other-tools .other-tools-container li h3,
#other-tools .currently-learning-container li h3,
#current .languages-container li h3,
#current .frameworks-container li h3,
#current .databases-container li h3,
#current .version-control-container li h3,
#current .design-container li h3,
#current .other-tools-container li h3,
#current .currently-learning-container li h3 {
    padding: 0.625rem 0;
  }
}

.projects {
  display: grid;
  grid-gap: 2rem;
}
@media (min-width: 0) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}
@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
@media (min-width: 992px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
.projects .portfolio-item-card {
  position: relative;
}
.projects .portfolio-item-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}
.projects .portfolio-item-card .hover-item {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.projects .portfolio-item-card .hover-item .project-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .portfolio-item-card .hover-item .project-icons .project-icon {
  background-color: var(--color-primary);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.projects .portfolio-item-card .hover-item .project-icons .project-icon i {
  font-size: 1.5rem;
  color: var(--color-white);
}
.projects .portfolio-item-card .hover-item .project-icons .project-icon:hover {
  background-color: var(--color-white);
}
.projects .portfolio-item-card .hover-item .project-icons .project-icon:hover i {
  color: var(--color-primary);
}
.projects .portfolio-item-card .hover-item .project-icons .project-icon-text {
  font-family: "Montseratt", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 0;
}
.projects .accordion .project-info {
  overflow: hidden;
  right: 0;
}
.projects .accordion .project-title {
  position: relative;
  font-size: 15px;
  font-family: "Montseratt", sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 0 0.2rem 0;
  cursor: pointer;
  transition: all 0.4s linear;
  display: flex;
  justify-content: center;
  text-align: center;
}
.projects .accordion .project-title img {
  height: 20px;
  width: 20px;
  transform: translateY(-50%) rotate(0deg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s linear;
  vertical-align: middle;
  margin: 8px 0 0 10px;
}
.projects .accordion .project-details {
  opacity: 0;
  max-height: 0px;
  transition: all 0.5s ease-in-out;
  font-family: "Montseratt", sans-serif;
  text-align: center;
}
.projects .accordion .project-details .project-description {
  padding: 0 0 0.5rem 0;
}
.projects .accordion .project-details .technologies-used h5 {
  padding: 0 0 0.5rem 0;
}
.projects .accordion .project-details .project-languages {
  font-size: 0.75rem;
}
.projects .accordion.open .project-title img {
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(180deg);
}
.projects .accordion.open .project-details {
  opacity: 1;
  max-height: 1000px;
}

.portfolio-item-card:hover .hover-item {
  opacity: 1;
  transform: scale(1);
}

@media (min-width: 0) {
  .freelance-projects {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}
@media (min-width: 768px) {
  .freelance-projects {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
@media (min-width: 992px) {
  .freelance-projects {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
  .freelance-projects .freelance-portfolio-item-1 {
    grid-column-start: 2;
  }
  .freelance-projects .freelance-portfolio-item-2 {
    grid-column-start: 3;
  }
}

.portfolio-github-link-text {
  text-align: center;
  padding: 2rem 0 0 0;
  font-family: "Montseratt", sans-serif;
}
.portfolio-github-link-text a {
  font-weight: 900;
}

.contact-content-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .contact-content-container {
    flex-direction: row;
    padding-top: 1rem;
  }
}
.contact-content-container .left-contact {
  flex: 2;
}
.contact-content-container .left-contact .sub-heading {
  padding-top: 1.25rem;
}
.contact-content-container .left-contact .contact-text {
  margin: 1rem 0;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
}
.contact-content-container .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montseratt", sans-serif;
}
.contact-content-container .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-container .left-contact .contact-info .contact-item .contact-icon {
  display: grid;
  grid-template-columns: 30px 1fr;
}
.contact-content-container .left-contact .contact-info .contact-item .contact-icon i,
.contact-content-container .left-contact .contact-info .contact-item .contact-icon span {
  display: flex;
  align-items: center;
}
.contact-content-container .left-contact .contact-link {
  display: flex;
  margin-top: 2rem;
}
.contact-content-container .left-contact .contact-link a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-4);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}
.contact-content-container .left-contact .contact-link a:hover {
  background-color: var(--color-secondary);
}
.contact-content-container .left-contact .contact-link a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-container .right-contact {
  flex: 3;
  margin-top: 1rem;
}
@media (min-width: 992px) {
  .contact-content-container .right-contact {
    margin: 0 0 0 3rem;
  }
}
.contact-content-container .right-contact .input-control {
  margin: 1.5rem;
}
.contact-content-container .right-contact .input-control input,
.contact-content-container .right-contact .input-control textarea {
  border-radius: 30px;
  text-transform: uppercase;
  font-family: "Montseratt", sans-serif;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  width: 100%;
}
.contact-content-container .right-contact .input-control input::-moz-placeholder, .contact-content-container .right-contact .input-control textarea::-moz-placeholder {
  color: #000;
}
.contact-content-container .right-contact .input-control input:-ms-input-placeholder, .contact-content-container .right-contact .input-control textarea:-ms-input-placeholder {
  color: #000;
}
.contact-content-container .right-contact .input-control input::placeholder,
.contact-content-container .right-contact .input-control textarea::placeholder {
  color: #000;
}

.submit-btn button {
  border-radius: 30px;
  border: 1px solid var(--color-grey-4);
}
.submit-btn button .main-btn {
  font-family: "Montseratt", sans-serif;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
  border-radius: 30px;
}
.submit-btn button .main-btn .btn-text {
  padding: 0 2rem;
  text-transform: uppercase;
}
.submit-btn button .main-btn .btn-icon {
  background-color: var(--color-grey-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.submit-btn button .main-btn .btn-icon i {
  color: var(--color-white);
}
.submit-btn button .main-btn:hover {
  background-color: var(--color-grey-4);
  border-radius: 30px;
  color: var(--color-white);
}

:root {
  --color-primary: #31657d;
  --color-secondary: #7c8d95;
  --color-white: #fff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--color-white);
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 0) {
  section {
    padding: 3rem 1rem;
  }
}
@media (min-width: 768px) {
  section {
    padding: 3rem 8rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 92vh;
}

.section {
  transition: all 0.4s ease-in-out;
  transform: translateY(-100%) scale(0);
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: var(--color-primary);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: var(--color-primary);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: var(--color-primary);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: var(--color-primary);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: var(--color-primary);
}

.active.section {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}/*# sourceMappingURL=style.css.map */