@use '../components/breakpoints' as *;
@use '../components/mixins' as *;

.submit-btn {
  button {
    border-radius: 30px;
    border: none;
    background-color: var(--color-white);

    .main-btn {
      font-family: 'Montseratt', sans-serif;
      font-weight: 600;
      border: none;
      display: flex;
      align-items: center;
      @include transition;
      border-radius: 30px;
      cursor: pointer;

      .btn-text {
        padding: 0 2rem;
        text-transform: uppercase;
        color: #000;
      }

      .btn-icon {
        background-color: var(--color-grey-4);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
        i {
          color: var(--color-white);
        }
      }
      &:hover {
        background-color: var(--color-grey-4);
        border-radius: 30px;

        .btn-text {
          color: var(--color-white);
        }
      }
    }
  }
}
