.section-heading {
  text-align: center;

  h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 1.25rem;
  }
}

.sub-heading {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 1.25rem;
  text-transform: uppercase;
}
