@use '../components/breakpoints' as *;

.section-heading {
  text-align: center;

  h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 1.25rem;
  }
}

.sub-heading {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;

  @include xs {
    font-size: 1.5rem;
    padding: 2rem 1.25rem 1.25rem 1.25rem;
  }

  @include md {
    font-size: 2rem;
    padding: 3rem 1.25rem 1.25rem 1.25rem;
  }
}
